Source: edje
Section: host/tools
Priority: optional
Maintainer: Alexander Kerner <lunohod@openinkpot.org>
Build-Depends: debhelper (>= 6), cdbs, libeet-dev, libeina-dev (>= 0.9.9.063-1), libevas-dev (>= 0.9.9.063-4), libecore-dev (>= 0.9.9.063-5), libembryo-dev, liblua5.1-0-dev, automake, libtool, pkg-config
Standards-Version: 3.8.2
Homepage: http://www.enlightenment.org
XCS-Cross-Host-Build-Depends: debhelper (>= 6), cdbs, cdbs-embedded, automake, libtool, pkg-config
XCS-Cross-Build-Depends: libeet-dev, libeina-dev (>= 0.9.9.063-1), libevas-dev (>= 0.9.9.063-4), libecore-dev (>= 0.9.9.063-5), libembryo-dev, liblua5.1-dev (>= 5.1.4-2)
XS-Vcs-Git: http://git.openinkpot.org/edje.git
XS-Vcs-Browser: http://git.openinkpot.org/edje.git
XCS-Cross-Mode: both

Package: libedje-bin
Architecture: any
Section: gui
Depends: ${misc:Depends}, ${shlibs:Depends}, libembryo-bin (>= 0.9.9.063-1)
Description: Various binaries for use with libedje
 Edje is a graphical layout and animation library for animated resizable,
 compressed and scalable themes. It is the theming engine behind
 Enlightenment DR 0.17.
 .
 This package contains the following binaries:
  - edje_cc: Compiles EDC files.
  - edje_decc: Used to decompile compiled edje files.
  - edje_recc: A convenience script to recompile EDC files.

Package: libedje-svn-05
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Suggests: libedje-bin (= ${binary:Version})
Description: Graphical layout and animation library
 Edje is a graphical layout and animation library for animated resizable,
 compressed and scalable themes. It is the theming engine behind
 Enlightenment DR 0.17.

Package: libedje-dev
Architecture: any
Section: libdevel
Depends: ${misc:Depends}, libedje-svn-05 (= ${binary:Version}), libeet-dev, libembryo-dev, libecore-dev (>= 0.9.9.063-5), libevas-dev (>= 0.9.9.063-4), libeina-dev (>= 0.9.9.063-1), libedje-bin, liblua5.1-dev (>= 5.1.4-2) | liblua5.1-0-dev
Provides: libedje0-dev
Description: libedje headers and static libraries
 Edje is a graphical layout and animation library for animated resizable,
 compressed and scalable themes. It is the theming engine behind
 Enlightenment DR 0.17.
 .
 This package provides headers and static libraries for Edje.

Package: libedje-dbg
Architecture: any
Section: debug
Priority: extra
Depends: ${misc:Depends}, libedje-svn-05 (= ${binary:Version})
Description: Debugging symbols for libedje
 Edje is a graphical layout and animation library for animated resizable,
 compressed and scalable themes. It is the theming engine behind
 Enlightenment DR 0.17.
 .
 This package contains unstripped shared libraries. It is provided primarily
 to provide a backtrace with names in a debugger, this makes it somewhat
 easier to interpret core dumps. The libraries are installed in
 /usr/lib/debug and are automatically used by gdb.
